.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.header-section {
  margin-bottom: 30px;
  text-align: center;
}

.greeting {
  font-size: 28px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #4464e5 38%, #c544d5 58%);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.3;
}

.date {
  color: #777;
  font-size: 16px;
}

.kpi-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.kpi-box {
  flex: 1;
  padding: 25px;
  border-radius: 43px;
  background: #ffffff;
  box-shadow:5px 5px 17px rgba(0,0,0,0.05);
  text-align: center;
}
.kpi-box:hover{
  box-shadow: 0 4px 4px #c0b6ff, -4px 4px 4px #498cff40;
}

.kpi-box h5 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.kpi-box p {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #75b6ff;
  font-family: inherit;
}

/* .scheduled {
  border-left: 5px solid #8884d8;
}

.completed {
  border-left: 5px solid #82ca9d;
}

.failed {
  border-left: 5px solid #ff6f61;
} */

.actions {
  text-align: center;
}

.btn-process {
  background-color: #6a57e3;
  border: none;
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: 16px;
  border-radius: 1.625rem;
  cursor: pointer;
  box-shadow: 0 4px 4px #00000040;
  transition: background 0.3s;
}

.btn-process:hover {
  /* background-color: #138496; */
  box-shadow: 0 6px 6px #0000004d;
}
